<section class="hero">
	<div class="hero-content">
		<h1>Your small business growth advisors</h1>
		<p>
			Get help from Alex Moore, a professional business coach with advanced
			experience in growth and business scaling.
		</p>
		<div class="hero-buttons">
			<button class="btn-primary" routerLink="/services">Our Services</button>
			<button class="btn-secondary" routerLink="/contact-us">Book a Meeting</button>

		</div>
	</div>
</section>

<section class="stats">
	<div class="stat">
		<h2>400+</h2>
		<p>Business Services</p>
	</div>
	<div class="stat">
		<h2>100+</h2>
		<p>Happy Customers</p>
	</div>
	<div class="stat">
		<h2>50+</h2>
		<p>Market Experiences</p>
	</div>
</section>